{% extends "base.html" %}

{% block title %}Your bank{% endblock %}

{% block content %}

<h2>Wallet</h2>
<p>
Your current balance is:

{{ wallet.balance }}
</p>
{% if bankaccounts %}
    The current bank account you registered to receive your earnings is: <br>
    {{ bankaccounts }}
    You can also <a href="#">change</a> this bank account.
{% else %}
    You haven't registered any bank account yet.
In order to receive your earnings, <a href="{% url 'new_bankaccount' %}">register</a> one.
{% endif %}
<p>
<h4>These are the transactions you have made. </h4>
For now only Payins are shown.
<table>
    {% for t in transactions %}
    <tr>
        <td>{{ t.creation_date }}</td> | {{ t.statement_descriptor }} | {{ t.amount }} | add the author later when it makes sense.
    </tr>
    {% empty %}
        No transactions done. Go charge your wallet!
    {% endfor %}
</table>






{% endblock %}