{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
<h1>
    Your Profile!
</h1>
<p>
    <a href="{% url 'user_edit' user.id %}">Edit your profile</a><br>
    <br>

</p>
<p>
    <h3>This is your new profile {{ user.first_name }}</h3>
</p>
change in the menu the edit link for the absolute URL method!!!

<ul>
    {% for deed in deeds %}
        <li>{{ deed.registered }} - {{ deed.title }} - {{ deed.price }} <button>{% if deed.price < 0 %}Donate to cleanse {% else %}Collect!{% endif %}</button> </li>
    {% empty %}
        No confessions registered yet.<br>
    {% endfor %}
    Also to add a donation option to make them disappear, that actually works
    </ul>

There's nothing here now. for now.
{% endblock %}