{% extends "base.html" %}

{% block title %}The business case{% endblock %}

{% block content %}
<h2>Origins</h2>
<p>
    The idea here stems from the habits app that we created in the MGP DE team over drinks. Something to use MGP with
    that was easy to setup, interesting for us and not too much something to cannibalize a current client. The antique
    idea was to create allow users to sequestrate an amount of their choosing into a wallet each time they broke a good
    habit or indulged (too much) in an unhealthy one. Payouts to the same user after a certain amount of time would be
    made, minus a commission in some form.
</p>

<h2>Musing</h2>
<p>
    Expanding on the idea, there are really to entities (if we can call them that) that hold the vast majority of the market
    in moral check. One group are religious institutions, that prophesize rewards after death for a life well lived, though cashing in
    generously in the process; the other is a personal sense of ethics and morality. This one of course, in everyday
    application is applied to oneself and as a way to make and share opinions about others on what is right, wrong, praiseworthy
    and punishable.
        Now, both sides have their pros and cons, and larger implications and applications in the environment in which they are
    practised. From a first impression, it would seem that the most profitable model is the one run by religious iinstitutions.
    They have managed through belief to harness the best of both worlds, the guidance of moral behavior, as well as the self
    evaluation of actions to dictate praise and punishment. It is far too ambitious to create something like a new religion.
        On the other hand, it is way too unprofitable to rely solely on the individual to take such actions and not be biased
    or active enough for enough transactions to come about.


    In fairness, social judgement is passed all the time in for example dating apps!! The difference is that the judgement
    never arrives the judged individual. If a guy is swiped left 100 times, he will never know. If a girl is swiped right 10 times
    she will get the social validation of 10 people, though mostly horny dudes, she is offered some (yet) unquantified level of
    value. Whether she ignores or nourishes her ego with it is another thing.

    If you open the and separate the dynamic of 1 vs a group, the group will have all the consequences of their actions ABOUT
    the 1, but the 1 will have none, unless there is a direct link between them. A group of americans in the states might gather online
    to hate and judge australian aborigines. The people in Australia would never know, unless they were to at least know about this
    group.

    How many other ways can a group interact about a single person or entity? Rhetorical question! a ton. And some of them might be well
    suited for business models. With the rising of such tech and the ability to do more on their own, people have disaggregated.
    All can be grouped into a category of people that are acting the same way, but are no longer together. Makes one wonder about better
    definitions of the word 'group'.

    This communication between 1 and a group are fascinating. There is no need for physical presence from the 1 to be interacting with a group, whether a collected
    group of people or not. By collected I mean real group, not people grouped together. 1 person can address a whole lot of people at the same time with social media
    or other kinds of media. Imagine a televised address to a nation during a health crisis (yes, fuck you COVID-19).
        On the other side, a whole group can love, hate, judge, admire, follow, etc. a single person, without that person even being needed.
    It's like we are just gathering functionally, not for the relationship anymore.

    There is rarely need for physical presence when interacting with a group for certain purposes. At the very least the illusion of
    togetherness is preserved, and some features of being physically present in groups are restored. Whether it makes sense to fill the gaps that
    are still there is for a different time.

    The successful social media 'influencer' is gathering the attention of many that are interested in what the influencer offers. One immediate gain
    is the social recognition from the group. This is also to be seen as the generation of demand for the 'supply' of that
    'influencer's' opinion, sense of humor, etc.

    By not being always aware to the 1 what the group has said about him/her, they can pretty much say whatever they want, without repercussions
    aside from their own morality. While other apps and social networks are used to interact either without context, like facebook, or just with a certain theme in mind,
    like Tinder, there are very few sites that grade the interaction of these networks, or the quality of the profiles.
        This idea goes already into the sense of censorship as freedom of speech should not be hampered, but what about if it's curated?

    What is really the idea that should be developed here? A healthy life, discipline to stick to personal commitments, accepting ones good and evil deeds, habits at all?
    Well just might have a solution for that, that I thought of while sitting on the toilet. People will do whatever they want in any case.
    It should not be a comments platform, cause disqus is there and nobody reads comments in any case. So pragmatic ideas:
<ul>
    <li>Track habits against money is one</li>
    <li>Be able to retrieve money only after good deeds are done or routine is back on track</li>
</ul>
<h3>OR:</h3>
<ul>
    <li>track confessions. both positive and negative, and showcase them via the annonymous usernames.</li>

</ul>
</p>
<h2> somehow I need to review the whole text to distill what real ideas can be implemented....</h2>

<h2>Vision version 1</h2>
<p>
    Be a platform for users to register habits, good actions and bad actions related to a habit, (and also unrelated?)
    So that people have an overview of what actions they have taken towards a positive improvement of their actions, with a
    space to meditate on them.
        Perhaps in a second stage to open to a community where people can match up on common goals and compare in social competition.
    So that others can pass judgment upon their social worth in their immediate surroundings and social networks.
</p>


<h2>Mission version 1</h2>



{% endblock %}