{% extends "base.html" %}

{% block title %}The todoes list{% endblock %}

{% block content %}

<ul>
    <li>DONE -  Make mission, vision, purpose behind this - page</li>
        <li>make sure do distill from that page thepurpose and further roadmap</li>
    <li>Define operations</li>
    <li>DONE - Install and setup allauth </li>
    <li>DONE - Users app - views CRUD</li>
    <li>make confessions app</li>
        <li>define user interaction in the app</li>
            <li>should a user make a payment or receive money based on what?</li>
        <li>DONE - make the templates</li>
        <li>DONE - make teh voting. </li>
        <li>define objects - onne time sin vs. repeating ones....</li>
            <li> make kinda like a tally of each time someone posts in each category.</li>
            <li>how to promote content in the lists? Most voted, recent. In the end i found a good way to sort things, then
            Just make a ranking algorithm to take and grade deeds, then sort them and present them. </li>
    <li>Make better templates!!!</li>
    <li>Add bootstrap to the templates</li>
    <li> DONE - in reflection add a blog app private to the user for the user to meditate</li>
        <li>Should a blog entry be forcefully linked to a deed?? yes, I think it should</li>
    <li> add some sort of tracker functions for display in the history....</li>
</ul>


Other awesome functions to add would be an insite chat function! that would be cool for a dating app for example...
Though interesting how the porting to android would go... Nothing for right now.

Add a maps function, perhaps through an api. Cause a full GIS app is out of reach at the moment create create tool making money
gather user data!!!

Ok so the first part is to make sure users connect all their social media, And then syphoon as much data from them as possible.
Then cross sell that to other projects, mine and not.

rental request management - like in Gearo, but better and adapted. for coordinating the interaction between parties to make sure things stay as tehy should be

Search adn recommendations based on user profile and interaction with the site?? wow, so cool!

calendar and availabilities management

infinite scroll instead of pagination - sounds like a bad ass front end thing

Invoice generation for sellers

comms system - I imagine like Django Herald? or something from Postman from site to users

some Analytics, perhaps from Google.


puhgh this is quite the lot of things. There are so many interesting things that can be put on the web...
But I need to control users and their doings closer.







{% endblock %}